header{
  background: #7700FF;
}

ul{
  list-style-type: none;
  margin: 0; padding: 0;
}

.logo{

  float: left;
}

li{
  float: left;
}
nav{
  justify-self: right;
}
li a{
      padding: 1.5em;
      text-transform: uppercase;
      font-size: .8em;
}
