.card{
  margin:15px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);

}

.total{
  display: inline-block;
  text-align: center;
}

.cartImg{
  width:17%;
}
.card-body > * {
  display: inline-block;
  text-align: auto !important;
}
.right{
float: right;
text-align: right;
}
.left{
  float: left;
  text-align: left;
  }

  @media screen and (max-width: 500px) {
    .cartImg{
      width:100%;
    }
  }
